.mt-2 {
  margin-top: 0.5rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.center {
  display: grid;
  place-items: center;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
