:root {
  --bg-backend: hsl(27, 87%, 67%);
  --bg-career: hsl(12, 76%, 61%);
  --bg-focus: hsla(173, 58%, 39%, 0.1);
  --bg-frontend: var(--secondary);
  --dark: hsl(197, 37%, 24%);
  --error: hsl(0, 53%, 51%);
  --light: hsl(0, 0%, 80%);
  --primary: hsl(173, 58%, 39%);
  --secondary: hsl(43, 74%, 66%);
}
